
@{
    if (Session["Role"].ToString() == "Users")
    {
        Layout = "~/Views/Shared/_Layout_user.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-01.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-02.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-03.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-04.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-05.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-06.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-07.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-08.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-09.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-10.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-11.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-12.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-13.jpg" />
                    <img  class="ims_image"  src="~/UserImages/IMSP/3) Lifting Operation/3) Lifting Operation-14.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

