USE [Catalog]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Description] [varchar](max) NULL,
	[FileUrl] [varchar](max) NULL,
	[EnteredOn] [datetime] NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailPassword]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailPassword](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[Password] [varchar](50) NULL,
	[Entered] [datetime] NULL,
 CONSTRAINT [PK_EmailPassword] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](450) NULL,
	[Link] [varchar](500) NULL,
	[Category] [int] NULL,
	[Order_O] [int] NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hselaggingwaste]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hselaggingwaste](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[head_id] [int] NOT NULL,
	[warning_m] [nvarchar](50) NULL,
	[warning_y] [nvarchar](50) NULL,
	[complaints_m] [nvarchar](50) NULL,
	[complaints_y] [nvarchar](50) NULL,
	[fines_m] [nvarchar](50) NULL,
	[fines_y] [nvarchar](50) NULL,
	[observations_m] [nvarchar](50) NULL,
	[observations_y] [nvarchar](50) NULL,
	[injury_m] [nvarchar](50) NULL,
	[injury_y] [nvarchar](50) NULL,
	[plastic_m] [nvarchar](50) NULL,
	[plastic_y] [nvarchar](50) NULL,
	[food_m] [nvarchar](50) NULL,
	[food_y] [nvarchar](50) NULL,
	[cookingoil_m] [nvarchar](50) NULL,
	[cookingoil_y] [nvarchar](50) NULL,
	[metal_m] [nvarchar](50) NULL,
	[metal_y] [nvarchar](50) NULL,
	[seweragewater_m] [nvarchar](50) NULL,
	[seweragewater_y] [nvarchar](50) NULL,
	[hazardous_m] [nvarchar](50) NULL,
	[hazardous_y] [nvarchar](50) NULL,
	[others_m] [nvarchar](50) NULL,
	[others_y] [nvarchar](50) NULL,
 CONSTRAINT [PK_hselaggingwaste] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hseleadingindent]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hseleadingindent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[head_id] [int] NOT NULL,
	[nomeeting_m] [nvarchar](50) NULL,
	[nomeeting_y] [nvarchar](50) NULL,
	[nosuggestion_m] [nvarchar](50) NULL,
	[nosuggestion_y] [nvarchar](50) NULL,
	[noemergency_m] [nvarchar](50) NULL,
	[noemergency_y] [nvarchar](50) NULL,
	[nopermit_m] [nvarchar](50) NULL,
	[nopermit_y] [nvarchar](50) NULL,
	[notbt_m] [nvarchar](50) NULL,
	[notbt_y] [nvarchar](50) NULL,
	[nosafetyflashes_m] [nvarchar](50) NULL,
	[nosafetyflashes_y] [nvarchar](50) NULL,
	[notraining_m] [nvarchar](50) NULL,
	[notraining_y] [nvarchar](50) NULL,
	[notraininghours_m] [nvarchar](50) NULL,
	[notraininghours_y] [nvarchar](50) NULL,
	[notrainingpersons_m] [nvarchar](50) NULL,
	[notrainingpersons_y] [nvarchar](50) NULL,
	[nosafetyflashed_m] [nvarchar](50) NULL,
	[nosafetyflashed_y] [nvarchar](50) NULL,
	[ltic_m] [nvarchar](50) NULL,
	[ltic_y] [nvarchar](50) NULL,
	[rwdc_m] [nvarchar](50) NULL,
	[rwdc_y] [nvarchar](50) NULL,
	[fac_m] [nvarchar](50) NULL,
	[fac_y] [nvarchar](50) NULL,
	[oi_m] [nvarchar](50) NULL,
	[oi_y] [nvarchar](50) NULL,
	[pdi_m] [nvarchar](50) NULL,
	[pdi_y] [nvarchar](50) NULL,
	[ei_m] [nvarchar](50) NULL,
	[ei_y] [nvarchar](50) NULL,
	[nmi_m] [nvarchar](50) NULL,
	[nmi_y] [nvarchar](50) NULL,
	[mtc_m] [nvarchar](50) NULL,
	[mtc_y] [nvarchar](50) NULL,
 CONSTRAINT [PK_hseleadingindent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Code_Created] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monthly_activity]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monthly_activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[head_id] [int] NOT NULL,
	[steamingtime] [varchar](50) NULL,
	[steamingconsumption] [varchar](50) NULL,
	[steamingmcr] [varchar](50) NULL,
	[anchoragetime] [varchar](50) NULL,
	[anchorageconsumption] [varchar](50) NULL,
	[anchoragemcr] [varchar](50) NULL,
	[berthtime] [varchar](50) NULL,
	[berthconsumption] [varchar](50) NULL,
	[berthmcr] [varchar](50) NULL,
	[towingtime] [varchar](50) NULL,
	[towingconsumption] [varchar](50) NULL,
	[towingmcr] [varchar](50) NULL,
	[downtime] [varchar](50) NULL,
	[downconsumption] [varchar](50) NULL,
	[downmcr] [varchar](50) NULL,
	[meneauveringtime] [varchar](50) NULL,
	[meneauveringconsumption] [varchar](50) NULL,
	[meneauveringmcr] [varchar](50) NULL,
	[otherstime] [varchar](50) NULL,
	[othersconsumption] [varchar](50) NULL,
	[othersmcr] [varchar](50) NULL,
	[remarkstime] [varchar](500) NULL,
	[remarksconsumption] [varchar](500) NULL,
	[remarksmcr] [varchar](500) NULL,
 CONSTRAINT [PK_monthly_activity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monthly_rob]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monthly_rob](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[head_id] [int] NOT NULL,
	[openingfuel] [nvarchar](50) NULL,
	[openingfreshwater] [nvarchar](50) NULL,
	[openingloil] [nvarchar](50) NULL,
	[openinghoil] [nvarchar](50) NULL,
	[openinggoil] [nvarchar](50) NULL,
	[receivedfuel] [nvarchar](50) NULL,
	[receivedfreshwater] [nvarchar](50) NULL,
	[receivedloil] [nvarchar](50) NULL,
	[receivedhoil] [nvarchar](50) NULL,
	[receivedgoil] [nvarchar](50) NULL,
	[closingfuel] [nvarchar](50) NULL,
	[closingfreshwater] [nvarchar](50) NULL,
	[closingloil] [nvarchar](50) NULL,
	[closinghoil] [nvarchar](50) NULL,
	[closinggoil] [nvarchar](50) NULL,
	[consumedfuel] [nvarchar](50) NULL,
	[consumedfreshwater] [nvarchar](50) NULL,
	[consumedloil] [nvarchar](50) NULL,
	[consumedhoil] [nvarchar](50) NULL,
	[consumedgoil] [nvarchar](50) NULL,
	[deliveredfuel] [nvarchar](50) NULL,
	[deliveredfreshwater] [nvarchar](50) NULL,
	[deliveredloil] [nvarchar](50) NULL,
	[deliveredhoil] [nvarchar](50) NULL,
	[deliveredgoil] [nvarchar](50) NULL,
	[deliveredkfcfuel] [nvarchar](50) NULL,
	[deliveredkfcfreshwater] [nvarchar](50) NULL,
	[deliveredkfcloil] [nvarchar](50) NULL,
	[deliveredkfchoil] [nvarchar](50) NULL,
	[deliveredkfcgoil] [nvarchar](50) NULL,
	[menginerunninghrsfuel] [nvarchar](50) NULL,
	[menginerunninghrsfreshwater] [nvarchar](50) NULL,
	[menginerunninghrsloil] [nvarchar](50) NULL,
	[menginerunninghrshoil] [nvarchar](50) NULL,
	[menginerunninghrsgoil] [nvarchar](50) NULL,
	[menginefuelconsfuel] [nvarchar](50) NULL,
	[menginefuelconsfreshwater] [nvarchar](50) NULL,
	[menginefuelconsloil] [nvarchar](50) NULL,
	[menginefuelconshoil] [nvarchar](50) NULL,
	[menginefuelconsgoil] [nvarchar](50) NULL,
	[aenginerunninghrsfuel] [nvarchar](50) NULL,
	[aenginerunninghrsfreshwater] [nvarchar](50) NULL,
	[aenginerunninghrsloil] [nvarchar](50) NULL,
	[aenginerunninghrshoil] [nvarchar](50) NULL,
	[aenginerunninghrsgoil] [nvarchar](50) NULL,
	[aenginefuelconsfuel] [nvarchar](50) NULL,
	[aenginefuelconsfreshwater] [nvarchar](50) NULL,
	[aenginefuelconsloil] [nvarchar](50) NULL,
	[aenginefuelconshoil] [nvarchar](50) NULL,
	[aenginefuelconsgoil] [nvarchar](50) NULL,
 CONSTRAINT [PK_monthly_rob] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pob]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pob](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[head_id] [int] NOT NULL,
	[pobcrew] [nvarchar](50) NULL,
	[pobcharterers] [nvarchar](50) NULL,
	[pobkfc] [nvarchar](50) NULL,
	[pobothers] [nvarchar](50) NULL,
	[pobtotal] [nvarchar](50) NULL,
	[remarkscrew] [nvarchar](500) NULL,
	[remarkscharterers] [nvarchar](500) NULL,
	[remarkskfc] [nvarchar](500) NULL,
	[remarksothers] [nvarchar](500) NULL,
 CONSTRAINT [PK_pob] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ptwinspections]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ptwinspections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[head_id] [int] NOT NULL,
	[hot_m] [nvarchar](50) NULL,
	[hot_y] [nvarchar](50) NULL,
	[cold_m] [nvarchar](50) NULL,
	[cold_y] [nvarchar](50) NULL,
	[aloft_m] [nvarchar](50) NULL,
	[aloft_y] [nvarchar](50) NULL,
	[confined_m] [nvarchar](50) NULL,
	[confined_y] [nvarchar](50) NULL,
	[diving_m] [nvarchar](50) NULL,
	[diving_y] [nvarchar](50) NULL,
	[electrical_m] [nvarchar](50) NULL,
	[electrical_y] [nvarchar](50) NULL,
	[firstaid] [bit] NULL,
	[firefighting] [bit] NULL,
	[mess] [bit] NULL,
	[toilet] [bit] NULL,
	[pms] [bit] NULL,
	[galley] [bit] NULL,
	[lifesaving] [bit] NULL,
	[towing_inspect] [bit] NULL,
	[radio_inspect] [bit] NULL,
	[hull_inspect] [bit] NULL,
	[remark] [varchar](550) NULL,
 CONSTRAINT [PK_ptwinspections] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ships]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShipName] [varchar](100) NULL,
	[OrderBY] [int] NULL,
 CONSTRAINT [PK_Ships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoreStaffTraining]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoreStaffTraining](
	[ShoreStaffTrainingID] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceSheet] [varchar](max) NULL,
	[EvaluationSheet] [varchar](max) NULL,
	[Entered_On] [datetime] NULL,
	[Entered_By] [int] NULL,
 CONSTRAINT [PK_ShoreStaffTraining] PRIMARY KEY CLUSTERED 
(
	[ShoreStaffTrainingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training](
	[TrainingID] [int] IDENTITY(1,1) NOT NULL,
	[Training_Topic] [varchar](max) NULL,
	[Type] [varchar](50) NULL,
	[Participant_No] [int] NULL,
	[Duration] [int] NULL,
	[Trainer_Name] [varchar](50) NOT NULL,
	[Trainer_Desig] [varchar](50) NULL,
	[Date] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Comments] [varchar](max) NULL,
	[Remark] [varchar](max) NULL,
	[Entered_On] [datetime] NULL,
	[Entered_By] [int] NULL,
	[AttendanceSheet] [varchar](max) NULL,
	[EvaluationSheet] [varchar](max) NULL,
 CONSTRAINT [PK_Training] PRIMARY KEY CLUSTERED 
(
	[TrainingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserEmail]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEmail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[Email] [varchar](50) NULL,
	[Entered] [datetime] NULL,
 CONSTRAINT [PK_UserEmail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserToShip]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToShip](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ShipId] [int] NULL,
	[EnteredOn] [datetime] NULL,
 CONSTRAINT [PK_UserToShip] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vessel_head]    Script Date: 25-11-2017 1.27.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vessel_head](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ShipsId] [int] NOT NULL,
	[vessel] [nvarchar](50) NULL,
	[type] [nvarchar](50) NOT NULL,
	[date] [datetime] NULL,
	[navigation] [nvarchar](50) NULL,
	[imono] [nvarchar](50) NULL,
	[manhours] [nvarchar](50) NULL,
	[master] [nvarchar](50) NOT NULL,
	[chiefofficer] [nvarchar](50) NULL,
	[chiefengineer] [nvarchar](50) NULL,
	[location] [varchar](50) NULL,
	[EnteredBY] [int] NULL,
 CONSTRAINT [PK_vessel_head] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [Description], [FileUrl], [EnteredOn]) VALUES (23, 25, N'CREW LIST OF LCT TAIBAH-1 ON 08/11/17', N'Crew List NOV.201731839.docx', CAST(N'2017-11-07T21:10:22.737' AS DateTime))
INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [Description], [FileUrl], [EnteredOn]) VALUES (24, 67, NULL, N'Crew List 02 OCT 201751654.docx', CAST(N'2017-10-12T01:13:40.617' AS DateTime))
INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [Description], [FileUrl], [EnteredOn]) VALUES (25, 38, N'CREW LIST LCT LULU 1', N'Crew List 16.10.201718042.docx', CAST(N'2017-10-16T05:32:54.833' AS DateTime))
SET IDENTITY_INSERT [dbo].[Attendance] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Category_ID], [Name]) VALUES (1, N'QHSE')
INSERT [dbo].[Category] ([Category_ID], [Name]) VALUES (2, N'OPERATIONS')
INSERT [dbo].[Category] ([Category_ID], [Name]) VALUES (3, N'TECHNICAL')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[EmailPassword] ON 

INSERT [dbo].[EmailPassword] ([Id], [LoginId], [Password], [Entered]) VALUES (3, 2, N'265609', CAST(N'2017-04-28T02:06:08.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[EmailPassword] OFF
SET IDENTITY_INSERT [dbo].[Forms] ON 

INSERT [dbo].[Forms] ([Id], [Name], [Link], [Category], [Order_O]) VALUES (13, N'BATTERY MAINTENANCE PLAN', N'Technical/BATTERY MAINTENANCE PLAN.docx', 3, NULL)
INSERT [dbo].[Forms] ([Id], [Name], [Link], [Category], [Order_O]) VALUES (14, N'CALIBRATION VERIFICATION REGISTER', N'Technical/CALIBRATION VERIFICATION REGISTER.docx', 3, NULL)
INSERT [dbo].[Forms] ([Id], [Name], [Link], [Category], [Order_O]) VALUES (15, N'CAT Preventive Maintenance  System Plan', N'Technical/CAT Preventive Maintenance  System Plan.xlsx', 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Forms] OFF
SET IDENTITY_INSERT [dbo].[hselaggingwaste] ON 

INSERT [dbo].[hselaggingwaste] ([id], [head_id], [warning_m], [warning_y], [complaints_m], [complaints_y], [fines_m], [fines_y], [observations_m], [observations_y], [injury_m], [injury_y], [plastic_m], [plastic_y], [food_m], [food_y], [cookingoil_m], [cookingoil_y], [metal_m], [metal_y], [seweragewater_m], [seweragewater_y], [hazardous_m], [hazardous_y], [others_m], [others_y]) VALUES (1, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ert', N't', NULL, NULL, N'er', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[hselaggingwaste] ([id], [head_id], [warning_m], [warning_y], [complaints_m], [complaints_y], [fines_m], [fines_y], [observations_m], [observations_y], [injury_m], [injury_y], [plastic_m], [plastic_y], [food_m], [food_y], [cookingoil_m], [cookingoil_y], [metal_m], [metal_y], [seweragewater_m], [seweragewater_y], [hazardous_m], [hazardous_y], [others_m], [others_y]) VALUES (2, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[hselaggingwaste] ([id], [head_id], [warning_m], [warning_y], [complaints_m], [complaints_y], [fines_m], [fines_y], [observations_m], [observations_y], [injury_m], [injury_y], [plastic_m], [plastic_y], [food_m], [food_y], [cookingoil_m], [cookingoil_y], [metal_m], [metal_y], [seweragewater_m], [seweragewater_y], [hazardous_m], [hazardous_y], [others_m], [others_y]) VALUES (3, 3, N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'2.35m3', NULL, N'4.10m3', NULL, N'10 LTRS', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[hselaggingwaste] OFF
SET IDENTITY_INSERT [dbo].[hseleadingindent] ON 

SET IDENTITY_INSERT [dbo].[hseleadingindent] OFF
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([Id], [Username], [Password], [Role], [Code], [Code_Created], [CreatedOn]) VALUES (1, N'admin', N'kfsliwa1995', N'Admin', N'253544', CAST(N'2017-11-16T14:47:38.097' AS DateTime), NULL)
INSERT [dbo].[Login] ([Id], [Username], [Password], [Role], [Code], [Code_Created], [CreatedOn]) VALUES (2, N'user', N'213318', N'Users', NULL, NULL, CAST(N'2017-08-07T23:21:54.173' AS DateTime))
INSERT [dbo].[Login] ([Id], [Username], [Password], [Role], [Code], [Code_Created], [CreatedOn]) VALUES (11, N'QHSE', N'505303', N'Users', NULL, NULL, CAST(N'2017-10-31T22:47:18.790' AS DateTime))
SET IDENTITY_INSERT [dbo].[Login] OFF
SET IDENTITY_INSERT [dbo].[monthly_activity] ON 

SET IDENTITY_INSERT [dbo].[monthly_activity] OFF
SET IDENTITY_INSERT [dbo].[monthly_rob] ON 

SET IDENTITY_INSERT [dbo].[monthly_rob] OFF
SET IDENTITY_INSERT [dbo].[pob] ON 

INSERT [dbo].[pob] ([id], [head_id], [pobcrew], [pobcharterers], [pobkfc], [pobothers], [pobtotal], [remarkscrew], [remarkscharterers], [remarkskfc], [remarksothers]) VALUES (1, 1, N'5', N'2', N'323', N'23', NULL, N'2', N'33', N'23', N'323')
INSERT [dbo].[pob] ([id], [head_id], [pobcrew], [pobcharterers], [pobkfc], [pobothers], [pobtotal], [remarkscrew], [remarkscharterers], [remarkskfc], [remarksothers]) VALUES (2, 2, NULL, N'ert', NULL, NULL, NULL, N't', N'eretr', NULL, NULL)
INSERT [dbo].[pob] ([id], [head_id], [pobcrew], [pobcharterers], [pobkfc], [pobothers], [pobtotal], [remarkscrew], [remarkscharterers], [remarkskfc], [remarksothers]) VALUES (3, 3, N'10', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[pob] OFF
SET IDENTITY_INSERT [dbo].[ptwinspections] ON 

INSERT [dbo].[ptwinspections] ([id], [head_id], [hot_m], [hot_y], [cold_m], [cold_y], [aloft_m], [aloft_y], [confined_m], [confined_y], [diving_m], [diving_y], [electrical_m], [electrical_y], [firstaid], [firefighting], [mess], [toilet], [pms], [galley], [lifesaving], [towing_inspect], [radio_inspect], [hull_inspect], [remark]) VALUES (1, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, N'ertertertertert')
INSERT [dbo].[ptwinspections] ([id], [head_id], [hot_m], [hot_y], [cold_m], [cold_y], [aloft_m], [aloft_y], [confined_m], [confined_y], [diving_m], [diving_y], [electrical_m], [electrical_y], [firstaid], [firefighting], [mess], [toilet], [pms], [galley], [lifesaving], [towing_inspect], [radio_inspect], [hull_inspect], [remark]) VALUES (2, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NULL)
INSERT [dbo].[ptwinspections] ([id], [head_id], [hot_m], [hot_y], [cold_m], [cold_y], [aloft_m], [aloft_y], [confined_m], [confined_y], [diving_m], [diving_y], [electrical_m], [electrical_y], [firstaid], [firefighting], [mess], [toilet], [pms], [galley], [lifesaving], [towing_inspect], [radio_inspect], [hull_inspect], [remark]) VALUES (3, 3, NULL, NULL, NULL, NULL, N'2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, NULL)
INSERT [dbo].[ptwinspections] ([id], [head_id], [hot_m], [hot_y], [cold_m], [cold_y], [aloft_m], [aloft_y], [confined_m], [confined_y], [diving_m], [diving_y], [electrical_m], [electrical_y], [firstaid], [firefighting], [mess], [toilet], [pms], [galley], [lifesaving], [towing_inspect], [radio_inspect], [hull_inspect], [remark]) VALUES (56, 56, N'0.0', N'8', N'0.0', N'0', N'0.0', N'4', N'0.0', N'3', N'0.0', N'2', N'0.0', N'0', 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, N'NOTE:    MONTHLY REPORT  OF OCTOBER 2017                                TOTAL RUNNING HOURS = 805 HOURS
                                                                                                                    TOTAL CONSUMPTION = 1075 L               ')
SET IDENTITY_INSERT [dbo].[ptwinspections] OFF
SET IDENTITY_INSERT [dbo].[Ships] ON 

INSERT [dbo].[Ships] ([Id], [ShipName], [OrderBY]) VALUES (3, N'REEM MAY', NULL)
INSERT [dbo].[Ships] ([Id], [ShipName], [OrderBY]) VALUES (4, N'DAYYINAH STAR 1', NULL)
INSERT [dbo].[Ships] ([Id], [ShipName], [OrderBY]) VALUES (5, N'TAIBAH 1', NULL)
SET IDENTITY_INSERT [dbo].[Ships] OFF
SET IDENTITY_INSERT [dbo].[Training] ON 

INSERT [dbo].[Training] ([TrainingID], [Training_Topic], [Type], [Participant_No], [Duration], [Trainer_Name], [Trainer_Desig], [Date], [Location], [Comments], [Remark], [Entered_On], [Entered_By], [AttendanceSheet], [EvaluationSheet]) VALUES (1, N'absc', N'normal', 2155, 12, N'angg', N'er', N'2017-10-17', N'hjjj', N'hgh', N'hjh', CAST(N'2017-09-15T08:32:41.040' AS DateTime), 26, NULL, NULL)
INSERT [dbo].[Training] ([TrainingID], [Training_Topic], [Type], [Participant_No], [Duration], [Trainer_Name], [Trainer_Desig], [Date], [Location], [Comments], [Remark], [Entered_On], [Entered_By], [AttendanceSheet], [EvaluationSheet]) VALUES (5, N'test', N'Induction Training', 10, 10, N'Anu', N'eng', N'2017-01-10', N'Salmiya', N'ksdkk', N'jjdksdks', CAST(N'2017-10-02T11:16:10.293' AS DateTime), 26, N'EF_Cheat_Sheet73773.pdf', N'Ajax Codes59047.txt')
INSERT [dbo].[Training] ([TrainingID], [Training_Topic], [Type], [Participant_No], [Duration], [Trainer_Name], [Trainer_Desig], [Date], [Location], [Comments], [Remark], [Entered_On], [Entered_By], [AttendanceSheet], [EvaluationSheet]) VALUES (6, N'CUMMINS AND VALVE INJECTOR', N'Training', 1, 30, N'MUH.ALIM LUKMAN', N'CHIEF ENGINEER', N'03 OKTOBER 2017', N'SAADIYAT ISLAND', N'THIS TRAINING ONLY FOR ENGINEER AND MECHANIC', N'ONLY CHIEF ENGINEER ON BOARD', CAST(N'2017-10-31T15:25:18.963' AS DateTime), 45, N'training attendance sheet oktober 201734035.pdf', N'CUMMINS VALVE66327.pdf')
GO
SET IDENTITY_INSERT [dbo].[Training] OFF
SET IDENTITY_INSERT [dbo].[UserEmail] ON 

INSERT [dbo].[UserEmail] ([Id], [LoginId], [Email], [Entered]) VALUES (2, 16, N'anuprasadanchal@gmail.com', CAST(N'2017-08-06T16:53:13.323' AS DateTime))
INSERT [dbo].[UserEmail] ([Id], [LoginId], [Email], [Entered]) VALUES (3, 82, N'talk2bilalsyed@gmail.com', CAST(N'2017-10-12T07:25:43.363' AS DateTime))
INSERT [dbo].[UserEmail] ([Id], [LoginId], [Email], [Entered]) VALUES (4, 28, N'lct.azah@gmail.com', CAST(N'2017-10-16T23:07:56.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserEmail] OFF
SET IDENTITY_INSERT [dbo].[UserToShip] ON 

INSERT [dbo].[UserToShip] ([ID], [UserID], [ShipId], [EnteredOn]) VALUES (2, 39, 11, NULL)
INSERT [dbo].[UserToShip] ([ID], [UserID], [ShipId], [EnteredOn]) VALUES (3, 28, 7, CAST(N'2017-09-16T05:53:24.927' AS DateTime))
INSERT [dbo].[UserToShip] ([ID], [UserID], [ShipId], [EnteredOn]) VALUES (4, 14, 28, CAST(N'2017-09-23T23:20:04.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserToShip] OFF
SET IDENTITY_INSERT [dbo].[vessel_head] ON 

INSERT [dbo].[vessel_head] ([id], [ShipsId], [vessel], [type], [date], [navigation], [imono], [manhours], [master], [chiefofficer], [chiefengineer], [location], [EnteredBY]) VALUES (1, 14, NULL, N'zxvzxv', CAST(N'2017-07-26T23:01:38.223' AS DateTime), N'xzvxz', N'vzxv', N'1440', N'vzxv', N'zxvxz', N'zxvxv', N'vzxv', 2)
INSERT [dbo].[vessel_head] ([id], [ShipsId], [vessel], [type], [date], [navigation], [imono], [manhours], [master], [chiefofficer], [chiefengineer], [location], [EnteredBY]) VALUES (2, 6, NULL, N'tert', CAST(N'2017-09-17T22:59:48.093' AS DateTime), NULL, NULL, N'0', N'er', N'trer', NULL, NULL, 28)
INSERT [dbo].[vessel_head] ([id], [ShipsId], [vessel], [type], [date], [navigation], [imono], [manhours], [master], [chiefofficer], [chiefengineer], [location], [EnteredBY]) VALUES (3, 5, NULL, N'LANDING CRAFT', CAST(N'2017-10-12T01:54:03.127' AS DateTime), N'30-JULY-18', N'9418676', N'2880', N'ABDUL KADIR SYAM', N'RONEY S. ARCO', N'LUUL TSEGAY', N'COASTINE BASE, MUSSAFAH', 25)
SET IDENTITY_INSERT [dbo].[vessel_head] OFF
ALTER TABLE [dbo].[vessel_head] ADD  CONSTRAINT [DF_vessel_head_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Login] FOREIGN KEY([UserId])
REFERENCES [dbo].[Login] ([Id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Login]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_Category] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([Category_ID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_Category]
GO
ALTER TABLE [dbo].[ShoreStaffTraining]  WITH CHECK ADD  CONSTRAINT [FK_ShoreStaffTraining_Login] FOREIGN KEY([Entered_By])
REFERENCES [dbo].[Login] ([Id])
GO
ALTER TABLE [dbo].[ShoreStaffTraining] CHECK CONSTRAINT [FK_ShoreStaffTraining_Login]
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD  CONSTRAINT [FK_Training_Login] FOREIGN KEY([Entered_By])
REFERENCES [dbo].[Login] ([Id])
GO
ALTER TABLE [dbo].[Training] CHECK CONSTRAINT [FK_Training_Login]
GO
ALTER TABLE [dbo].[UserEmail]  WITH CHECK ADD  CONSTRAINT [FK_UserEmail_Login] FOREIGN KEY([LoginId])
REFERENCES [dbo].[Login] ([Id])
GO
ALTER TABLE [dbo].[UserEmail] CHECK CONSTRAINT [FK_UserEmail_Login]
GO
ALTER TABLE [dbo].[UserToShip]  WITH CHECK ADD  CONSTRAINT [FK_ShipId_ShipID] FOREIGN KEY([ShipId])
REFERENCES [dbo].[Ships] ([Id])
GO
ALTER TABLE [dbo].[UserToShip] CHECK CONSTRAINT [FK_ShipId_ShipID]
GO
ALTER TABLE [dbo].[UserToShip]  WITH CHECK ADD  CONSTRAINT [FK_UserId_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Login] ([Id])
GO
ALTER TABLE [dbo].[UserToShip] CHECK CONSTRAINT [FK_UserId_UserID]
GO
ALTER TABLE [dbo].[vessel_head]  WITH CHECK ADD  CONSTRAINT [FK_ShipsRelation] FOREIGN KEY([ShipsId])
REFERENCES [dbo].[Ships] ([Id])
GO
ALTER TABLE [dbo].[vessel_head] CHECK CONSTRAINT [FK_ShipsRelation]
GO
ALTER TABLE [dbo].[vessel_head]  WITH CHECK ADD  CONSTRAINT [FK_vessel_head_Login] FOREIGN KEY([EnteredBY])
REFERENCES [dbo].[Login] ([Id])
GO
ALTER TABLE [dbo].[vessel_head] CHECK CONSTRAINT [FK_vessel_head_Login]
GO
