<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2>Scope</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>A procedure is established for Aspect identification and Impact mitigation. This procedure will cover various aspects, different activities responsible for the identified aspects, matrix for determining severity rate and necessary control measures</p>
                </div>
            </div>
        </div>
    </div>
</section>