
@{
    ViewBag.Title = "Index";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2>Sample Heading</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div id="lipsum">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris leo, dapibus quis aliquet eget, tempor aliquam nulla. Pellentesque efficitur risus sit amet metus dignissim, a mollis ipsum placerat. Sed hendrerit semper ex, at posuere erat blandit non. Maecenas consectetur pulvinar ante, ac fringilla augue vulputate vitae. Praesent porta urna ut tempus bibendum. Duis vitae mi mattis, finibus erat a, pretium est. Mauris vestibulum ligula non felis interdum accumsan. Sed fringilla vehicula lectus convallis volutpat.
                        </p>
                        <p>
                            Etiam leo lorem, blandit non pulvinar mattis, malesuada vitae libero. Pellentesque ultrices lacinia quam lacinia tincidunt. Aliquam at auctor nunc. Nunc vel nunc nibh. Nunc sit amet mi bibendum, convallis tortor in, pharetra dolor. Nunc euismod euismod nisi eu bibendum. Suspendisse iaculis ut odio at ultricies. Maecenas iaculis justo eget justo tempor imperdiet. Sed imperdiet leo nec faucibus suscipit. Integer auctor, eros ac mattis vehicula, felis velit posuere eros, eu viverra ante nisl sed dui. Integer ut sem accumsan, luctus libero tempus, tincidunt metus. Phasellus ut lorem elit. Morbi fringilla ultrices porta.
                        </p>
                        <p>
                            Etiam malesuada, tortor ut imperdiet consequat, felis mi ullamcorper odio, eget luctus ante augue sit amet purus. Sed sem ex, iaculis vel efficitur ac, interdum eget arcu. Nullam ut consectetur ante, vel venenatis libero. Integer aliquam tincidunt libero, vel scelerisque metus cursus finibus. Mauris egestas efficitur odio, sed rutrum felis vestibulum ut. Cras sem quam, convallis vel gravida eget, pharetra non nisi. In egestas elit ut mauris porttitor hendrerit. Integer a nunc sed sapien lobortis volutpat. In maximus mi at sem aliquet vestibulum. Nullam venenatis semper risus eu convallis. Aliquam erat volutpat. Duis elementum sodales nisl, ac aliquam velit vehicula in. Sed sed pulvinar velit.
                        </p>
                        <p>
                            Sed a tellus justo. Sed et aliquam augue. Integer hendrerit imperdiet hendrerit. Donec nec odio vestibulum, pretium dolor quis, bibendum neque. Sed aliquam viverra sollicitudin. Pellentesque nec consequat felis. Proin mollis turpis ligula, vel porta libero condimentum eu.
                        </p>
                        <p>
                            Praesent ullamcorper magna tortor, et dictum erat efficitur non. Donec pretium libero non nisl volutpat, in placerat lacus luctus. In volutpat libero quis fringilla pretium. Vivamus facilisis a diam non suscipit. Maecenas nec sagittis nisl, ac ultrices magna. Suspendisse quis ipsum non risus mollis congue. Donec imperdiet, est iaculis convallis accumsan, ligula leo porta turpis, pharetra lacinia lectus magna quis mi. Nunc suscipit ultricies velit, at ultricies ligula. Praesent vulputate in velit nec aliquet. Donec quis velit in nibh euismod suscipit eget sed arcu.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>