
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2>Vision & Mission</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <img class="ims_image" src="~/UserImages/IMSManual/01.0 Revision History/01.0 Revision History-1.jpg" />
                    <img class="ims_image" src="~/UserImages/IMSManual/01.0 Revision History/01.0 Revision History-2.jpg" />
                    <img class="ims_image" src="~/UserImages/IMSManual/01.0 Revision History/01.0 Revision History-3.jpg" />
                    <img class="ims_image" src="~/UserImages/IMSManual/01.0 Revision History/01.0 Revision History-4.jpg" />

                </div>
            </div>
        </div>
    </div>
</section>