
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2>Scope</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>&nbsp;</p>
                    <p>Khalid Faraj Shipping&rsquo;s (KFS) Integrated Management System (IMS) provides services that meet the customer and applicable statutory and regulatory requirements. KFS enhances customer satisfaction through the effective application of its Integrated Management System. The scope of operation for Khalid Faraj shipping is given below&nbsp;&nbsp;&nbsp;</p>
                    <p>Khalid Faraj Shipping ProvidesMarine Transportation Services, Offshore Personnel Transportation that areReliable, Sustainable, Cost Effective and enables its customers to be successful.</p>
                    <p>Khalid Faraj Shipping is active in the following business segments; Offshore Support Vessels,Crew Boats, Project Carrier,Freight Forwarding, Port Agency and other Allied Services Related to Shipping and Offshore Industries and Ship Management services.</p>
                    <p>&nbsp;</p>
                    <p>All clauses ofISO9001:2015, 14001:2015, OHSAS18001:2007 and ISM Code 2014 requirements are applied to Khalid Faraj Shipping activities.</p>

                </div>
            </div>
        </div>
    </div>
</section>