@{
    if (Session["Role"].ToString() == "Users")
    {
        Layout = "~/Views/Shared/_Layout_user.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img  class="ims_image" src="~/UserImages/ReferenceFiles/24.0 Management Review/24.0 Management Review-1.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

