@model Catalog.ViewModel.ReportHeadViewmodel

@{
    ViewBag.Title = "ViewReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <link href="~/Content/Report.css" rel="stylesheet" />
            <b>
                <u>Sheet Name</u> :- Monthly report
            </b>
            <hr>
            @using (Html.BeginForm("MonthlyReportVessel","Logins"))
            {
                    @*<a href="/Logins/ViewReportToEXCEL/@Model.vesselhead.id" class="btn btn-primary">Export To Excel</a>*@
                <div class="form-group" style="float:right;margin:0px 49px 22px 0px;">
                    <div class="col-md-offset-2 col-md-10">
                            <input type="button" id="btn_readonly" onclick="MakeReadonly()" value="Create" class="btn btn-primary" />
                            <input type="submit" id="btn_submit" style="display:none;" value="Submit" class="btn btn-primary" />
                                             </div>
                </div>
                <div class="form-group" style="float:right;">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" id="Btn_editable" style="display:none;" onclick="MakeWritable()" value="Edit" class="btn btn-primary" />

                        </div>
                    </div>

                <table id="tbl_rpt" class="" cellspacing=0 border=1>
                    <tbody>
                        <tr>
                            <td style="font-family:Arial;text-align:center;font-size:12px;background-color:#FFFFFF;font-weight:bold;text-decoration:underline;" colspan=12>
                                <nobr>Khalid Faraj Shipping</nobr>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Arial;text-align:center;font-size:12px;font-weight:bold;text-decoration:underline;" colspan=12>
                                <nobr>MONTHLY REPORT - VESSEL </nobr>
                            </td>
                        </tr>

                        @Html.TextBoxFor(a => a.vesselhead.id,new { Name="id",@type="hidden"})
                        @{ Html.RenderPartial("_VesselHead", Model.vesselhead);  }
                        <tr style="height:21px;">
                            <td style="font-family:Calibri;font-size:11px;font-weight:bold;" class="auto-style1" colspan="12">
                                <nobr>1. MONTHLY ACTIVITY SUMMARY</nobr>

                            </td>
                        </tr>
                        @{ Html.RenderPartial("_MonthlyActivitySummary", Model.monthly_activity);  }
                        <tr style="height:21px;">
                            <td style="font-family:Calibri;font-size:11px;font-weight:bold;" class="auto-style6" colspan="12">
                                <nobr>2. MONTHLY ROB STATUS</nobr>
                            </td>
                        </tr>
                        @{ Html.RenderPartial("_MonthlyROB", Model.monthly_rob);  }

                        <tr>
                            <td style="font-family:Calibri;font-size:11px;font-weight:bold;" class="auto-style7" colspan="12">
                                <nobr>3. P.O.B</nobr>
                            </td>
                        </tr>
                        @{ Html.RenderPartial("_POB", Model.pob);  }
                        @{ Html.RenderPartial("_HSELeading_Incident", Model.hseleadingindent);  }
                        @{ Html.RenderPartial("_HSELagging_WasteProdc", Model.hselaggingwaste);  }

                        <tr style="height:20px;">
                            <td style="font-family:Calibri;font-size:11px;border-left:1px solid #000000; border-top:1px solid #000000; border-bottom:2px solid #000000;" colspan=3 class="auto-style2"></td>
                            <td style="font-family:Calibri;font-size:11px;border-left:1px solid;border-right:1px solid;border-top:1px solid;border-bottom:2px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;"></td>
                            <td style="font-family:Calibri;font-size:11px;border-left:1px solid;border-right:1px solid;border-top:1px solid;border-bottom:2px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;"></td>
                            <td style="font-family:Calibri;font-size:11px;border-left:1px solid;border-right:1px solid;border-top:1px solid;border-bottom:2px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;" colspan=3></td>
                            <td style="font-family:Calibri;font-size:11px;border-left:1px solid;border-top:1px solid;border-bottom:2px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000;"></td>
                            <td style="font-family:Calibri;font-size:11px;border-left:1px solid;border-right:2px solid;border-top:1px solid;border-bottom:2px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;"></td>
                        </tr>
                        <tr style="height:5px;">
                            <td style="font-family:Calibri;font-size:11px;font-weight:bold;" class="auto-style6" colspan="12"></td>
                        </tr>
                        @{ Html.RenderPartial("_Permit_Inspection_Remark", Model.ptwinspection);  }
                    </tbody>
                </table>
                            }

        </div>
    </div>
</section>

@section scripts
 {
    <script>
      
        $(document).ready(function () {
            window.open('data:application/vnd.ms-excel,' + $('#tbl_rpt').html());
            MakeReadonly();
        })
        function MakeReadonly() {
            $("#tbl_rpt").find("input,button,textarea,select").attr('readonly', 'readonly').addClass("readonly_backcolor");
            $("#Btn_editable").show();
            $("#btn_readonly").hide();
            $("#btn_submit").show();

        }
        function MakeWritable() {
            $("#tbl_rpt").find("input,button,textarea,select").removeAttr('readonly', 'readonly').removeClass("readonly_backcolor");
            $("#Btn_editable").hide();
            $("#btn_readonly").show();
            $("#btn_submit").hide();
        }
    </script>
}




