@{
    if (Session["Role"].ToString() == "Users")
    {
        Layout = "~/Views/Shared/_Layout_user.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-01.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-02.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-03.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-04.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-05.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-06.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-07.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-08.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-09.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-10.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-11.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-12.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-13.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-14.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-15.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-16.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/11.0 Accident-Incident Investigation/11.0 Accident-Incident Investigation-17.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

