@{
    if (Session["Role"].ToString() == "Users")
    {
        Layout = "~/Views/Shared/_Layout_user.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-01.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-02.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-03.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-04.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-05.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-06.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-07.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-08.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-09.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-10.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-11.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-12.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/17 Anchor Handling Tug/17 Anchor Handling Tug-13.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

