@{
    if (Session["Role"].ToString() == "Users")
    {
        Layout = "~/Views/Shared/_Layout_user.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-01.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-02.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-03.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-04.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-05.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-06.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-07.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-08.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-09.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-10.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-11.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-12.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-13.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-14.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-15.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-16.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-17.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-18.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-19.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-20.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-21.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-22.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-23.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-24.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-25.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-26.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-27.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-28.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-29.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-30.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-31.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-32.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-33.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-34.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-35.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-36.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-37.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-38.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-39.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-40.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-41.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-42.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-43.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/10.0 Emergency Preparedness and Response/10.0 Emergency Preparedness and Response-44.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

