@{
    if (Session["Role"].ToString() == "Users")
    {
        Layout = "~/Views/Shared/_Layout_user.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img src="~/UserImages/SystemProcedure/5. Lifesaving appliances and firefighting  equipment/5. Lifesaving appliances and firefighting  equipment-1.jpg" />
                    <img src="~/UserImages/SystemProcedure/5. Lifesaving appliances and firefighting  equipment/5. Lifesaving appliances and firefighting  equipment-2.jpg" />
                    <img src="~/UserImages/SystemProcedure/5. Lifesaving appliances and firefighting  equipment/5. Lifesaving appliances and firefighting  equipment-3.jpg" />
                    <img src="~/UserImages/SystemProcedure/5. Lifesaving appliances and firefighting  equipment/5. Lifesaving appliances and firefighting  equipment-4.jpg" />
                    <img src="~/UserImages/SystemProcedure/5. Lifesaving appliances and firefighting  equipment/5. Lifesaving appliances and firefighting  equipment-5.jpg" />
                    <img src="~/UserImages/SystemProcedure/5. Lifesaving appliances and firefighting  equipment/5. Lifesaving appliances and firefighting  equipment-6.jpg" />
                    <img src="~/UserImages/SystemProcedure/5. Lifesaving appliances and firefighting  equipment/5. Lifesaving appliances and firefighting  equipment-7.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

