@{
    if (Session["Role"].ToString() == "Users")
    {
        Layout = "~/Views/Shared/_Layout_user.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-1.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-2.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-3.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-4.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-5.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-6.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-7.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-8.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/4. Navigation and Communication Equipment/4. Navigation and Communication Equipment-9.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

