@{
    if (Session["Role"].ToString() == "Users")
    {
        Layout = "~/Views/Shared/_Layout_user.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/15 Vessel Documentation/15 Vessel Documentation-1.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/15 Vessel Documentation/15 Vessel Documentation-2.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/15 Vessel Documentation/15 Vessel Documentation-3.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/15 Vessel Documentation/15 Vessel Documentation-4.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/15 Vessel Documentation/15 Vessel Documentation-5.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/15 Vessel Documentation/15 Vessel Documentation-6.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/15 Vessel Documentation/15 Vessel Documentation-7.jpg" />
                    <img  class="ims_image" src="~/UserImages/SystemProcedure/15 Vessel Documentation/15 Vessel Documentation-8.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

